@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
        <a href="@Url.Action("Index", "Notificações")" class="btn">
            <i class="fas fa-bell notifications-icon"></i>
        </a>

        <a href="@Url.Action("Index", "Perfils")" class="btn">
            <i class="fas fa-user notifications-icon"></i>
        </a>
}
else
{
    @* <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li> *@
}
</ul>
